/* ---CSS RESET ---*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Quicksand', sans-serif;
}

p{
    font-size:18px;
}


/* --- VARIABLES --- */
:root{
   --primary-color:#fb6b18;
   --secondary-color:#007bbf;
   --light-grey:#cccc;
   --dark-color:#000;
   --white-color:#fff;
}


html{
    scroll-behavior:smooth;
}


/* -- NAVBAR SECTION ------ */
.hero-section{
    max-width:1680px;
    height:600px;
    margin:auto;
    overflow:hidden;
    position: relative;
    width:100%;
    height:100vh;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('images/image-glass-and-keyboard.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}

.navbar a{
    text-decoration:none;
    font-size:17px;
    color:var(--dark-color);
    font-weight:600;
}




.navbar{
    display:flex;
    align-items:center;
    position:sticky;
    top:0;
    left:0;
    z-index:10;
    padding:2% 8%;
    background:var(--white-color);
    height:80px;
    box-shadow:0px 0px 10px rgba(0,0,0,0.3);
}





.nav-left{
    display:flex;
    align-items:center;
}

.nav-left img{
    cursor: pointer;
}


nav ul{
    margin-left:40px;
}

nav li{
    list-style:none;
    display:inline-block;
    margin:10px 25px;
}

nav li::after{
    content:'';
    width:0;
    height:3px;
    background:var(--primary-color);
    display:block;
    border-radius:5px;
    margin:2px 0;
    transition: .3s;
   
}

nav li:hover:after{
    width:100%;
}


.nav-right{
    flex:1;
    text-align:right;
}

.nav-right a{
    margin-right:20px;
}

.nav-right .login-btn{
    padding:10px 35px;
    border:2px solid var(--primary-color);
    border-radius:6px;
    color:var(--primary-color);
    transition:background .3s;
}

.nav-right .login-btn:hover{
    background:var(--primary-color);
    color:var(--white-color);
}


.nav-right .register-btn{
    padding:10px 35px;
    background:var(--primary-color);
    border-radius:6px;
    color:var(--white-color);
    transition:background .3s;
}

.nav-right .register-btn:hover{
    background:transparent;
    border:2px solid var(--primary-color);
    color:var(--primary-color);
}

/* --- END OF NAVBAR -----*/


/* -- HERO SECTION STYLING */



.welcome-container{
    margin-top:10%;
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
    gap:80px;
    align-items:center;
    padding:0 8%;
}

.welcome-section h1{
    font-size:50px;
    color:var(--white-color);
}




/* -- Form section */

.form-group{
    width:580px;
    height:450px;
    background:var(--white-color);
    padding:30px;

 

}

.form-group h2{
    font-weight:700;
    margin:20px 0;
}


form input{
    width:100%;
    padding:15px;
    margin:10px 0;
}

.form-input {
  display:flex;
  gap:15px;
}


.form-input .field{
    height:45px;
    width:100%;
    margin:20px 0;
}

.form-btn{
    padding:13px 35px;
    background:var(--primary-color);
    outline:none;
    color:var(--white-color);
    border-radius:6px;
    border:none;
    font-size:17px;
    margin-top:20px;
    transition:background .3s;
}

.form-btn:hover{
    background:var(--dark-color);
    color:var(--white-color);
}
